/*Anna Sikora*/



#mySidebar
{
    

}
h1{
  color: rgb(168, 168, 167);
}
h4
{
    color: rgb(113, 30, 180);
    border-style: solid;
}
h3
{
  font-size: 20px !important;
}
h5
{
  font-size: 35px !important;
  color: rgb(135, 233, 233);
  
}
#menu
{
    color: rgb(113, 30, 180);
}
p1
{
    color: rgb(113, 30, 180);
    font-family: lato;
}
p2{
  font-size: 20px !important;
  margin: auto;
  color: rgb(211, 207, 207);
}
p3
{
  color:  rgb(211, 207, 207) ;
  font-size: 20px !important;
  margin: auto
 
}
p4
{
  font-size: 12px;
}
.active
{
    color: black; 
}
/* Fixed sidenav, full height */

  
  /* Style the sidenav links and the dropdown button */
  .sidenav a, .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width:100%;
    text-align: left;
    cursor: pointer;
    outline: none;
  }
  
  /* On mouse-over */
  .sidenav a:hover, .dropdown-btn:hover {
    color: rgb(113, 30, 180);
  }
  
  /* Main content */
  .main {
    margin-left: 200px; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
  
  /* Add an active class to the active dropdown button */
  .active {
    
    color: gray;
  }
  
  /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
  .dropdown-container {
    display: none;
    
    padding-left: 8px;
  }
  
  /* Optional: Style the caret down icon */
  .fa-caret-down {
    float: right;
    padding-right: 8px;
  }
  #button{
    color: white;
    background-color: rgb(139, 44, 99);
    font-size: 15px;
    font-family: Raleway;
  }
  #container {
    height: 230px;
    margin: auto;
    
  }
 #mainheader
  {
    
    
  }
  #main
  {
    background-color: rgb(20, 48, 90);
  }
  